<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tmend.firebaseauth">

    <uses-sdk tools:overrideLibrary="com.firebase.ui" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HealthCustomizationActivity" />
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodAdviser"
            android:label="@string/title_activity_food_adviser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalorieCalculator"
            android:label="@string/title_activity_calorie_calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodAdviserProtein"
            android:label="@string/title_activity_food_adviser_protein"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodAdviserGrain"
            android:label="@string/title_activity_food_adviser_grain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodAdviserFruit"
            android:label="@string/title_activity_food_adviser_fruit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodAdviserVegetables"
            android:label="@string/title_activity_food_adviser_vegetables"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewFruit"
            android:label="@string/title_activity_new_fruit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FruitSpinner"
            android:label="@string/title_activity_fruit_spinner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodsMainHolder"
            android:label="@string/title_activity_foods_main_holder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BMRCalculator"
            android:label="@string/title_activity_bmrcalculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodCalorieCalculator"
            android:label="@string/title_activity_food_calorie_calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiabetesInfo"
            android:label="@string/title_activity_diabetes_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>